<%- include('../partials/header') %>

<h2>Teacher detail page </h2>

<div><b>Teacher Name:</b></div>
<div><%= teacher.name %></div>
<div> <b>Teaches</b></div>
<div><%= teacher.instruments %></div>
<div> <b>Days Available</b></div>
<div><%= teacher.days %></div>
<div> <b>Years of Experience</b></div>
<div><%= teacher.experience %></div>


<a href="/teachers/<%= teacher._id %>/edit" >
  <button type="submit">Edit Profile</button>
</a>

<a href="/teachers/<%= teacher._id %>/lessons/new">
  <button type="submit"> Book a Lesson</button>
</a>




<!-- <table id="teacher-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Instrument</th>
        <th>Days Availalbe</th>
        <th>Years of Experence</th>
      </tr>
    </thead>

    </table> -->


<%- include('../partials/footer') %>